body {
    background: whitesmoke;
}

img {
    height: 150px;
}

.form-group {
    width: 60%;
    margin-left: 5%;
}

.buttonForm {
    margin-left: 5%;
    background-color: #696e70;
}

ul.display_keyword li {
    display: inline;
    text-align: center;
    margin: 0;
    background-color: #696e70;
}

a {
    text-decoration: none;
    color: black
}