body {
    background: white;
}

.navbar {
    background-color: rgb(148, 148, 190);
}

img {
    height: 150px;
}

.form-group {
    width: 60%;
    margin-left: 5%;
}

.buttonForm {
    margin-left: 5%;
    background-color: rgb(148, 148, 190);
}

ul.display_keyword li {
    display: inline;
    text-align: center;
    margin: 0;
    background-color: rgb(148, 148, 190);
}

a {
    text-decoration: none;
    color: black
}

.btn-outline-success {
    background-color: rgb(38, 38, 104);
}

.btn {
    background-color: rgb(148, 148, 190);
}